/.idea/.name
/.idea/Webcrawler.iml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/scopes/scope_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
/README.md~
/paper.py
/queue.txt
/queue.txt~
/starturl.txt
/starturl.txt~
/test.txt
